<div class="container">
    <h1>About Us</h1>
    <p>Rental Cars Service is specialiyed to help people to list their car to make some extra monez while they not need to drive</p>
    <p>If zou need a q feel fre to contact us bz clicking link below </p>
    <a href="/contact">Contact us</a>
    <small>All rights reserved.Copyright &copy 2023 </small>
</div>